@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  margin: 0;
  margin-top: 56px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, strong{font-weight: 600;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /******* HOME *******/
.bg-image{
  background-image: url("../public/images/hero-bg.jpg");
  background-size: cover;
  height: 80vh;
}
#intro strong{font-size: 3em;}
#progress p{margin: 15px 0 0 0;}

/******* CONTACT *******/
#location a{color: black !important;}
#google-map{
  aspect-ratio: 4 / 3;
  width: 100%;
}

/******* FOOTER *******/
address p{margin-bottom: 0;}
address i{margin-right: 10px;}

/******* EFFECTS *******/
.card:hover{
  background-color: #efefef;
  transform: scale(1.02);
  box-shadow: 0 0 10px gray;
}
