@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  margin: 0;
  margin-top: 56px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, strong{font-weight: 600;}
strong{font-size: 3em;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image{
  background-image: url("../public/images/hero-bg.jpg");
  background-size: cover;
  height: 80vh;
}

footer h3, footer strong {
  font-size: 1.1em;
  margin-bottom: 0;
}
address p{margin-bottom: 0;}
